body {

    background-color: #0B1D33;

    color: white;

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}


h1 {

    text-align: center;

    font-size: 50px;

}


h2 {

    text-align: center;

    font-weight: normal;

}


p {

    text-align: center;

    font-size: 20px;

    width: 70%;

    margin: auto;

}

/* Navigation Bar */

nav {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 50px;

    background-color: #07111F;

}


.logo {

    font-size: 24px;

    letter-spacing: 2px;

}


nav ul {

    display: flex;

    list-style: none;

    gap: 30px;

}


nav ul li a {

    color: white;

    text-decoration: none;

    font-size: 16px;

}
nav ul li {

    display: inline-block;

}


nav ul li a:hover {

    color: #1E88E5;

}
